.dotaznik{
    align-items: center;
    border: solid black;
    flex-direction: column;
    display: flex;
    padding: 85px;
    margin: -10px;
    font-family: monospace;
    font-size: x-large;
    color: blueviolet;
}

.nazov{
    text-align: center;
    font-size: xxxx-large;


}







