P{
    background-color: red;
    border: 2px dashed black;
}



.stylTextu1{
   padding: 20px;
   margin: 100px;
   background-color: greenyellow;

}
    
    


#skuska{
    background-color: aquamarine;
}